*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

:root{
    --transition: all .4s ease;
}

.glow-ball{
    position: absolute;
    width: 70%;
    height: 120%;
    /* top: -50%;
    left: -40%; */
    filter: blur(80px);
    /* background: radial-gradient(#FB03F5, #40AFFD); */
    background-image: radial-gradient(circle,
    red 0%,
    red 33%,
    yellow 33%,
    yellow 66%,
    green 66%,
    green 100%);
}
    z-index: -1;
    border-radius: 50%;
}

#small-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    #small-nav{
        display: none !important;
    }
}

body{
   font-family: "poppins", sans-serif;
   background-color: #1F1539; 
   overflow-x: hidden;
}

nav{
    border-bottom: 1px solid white;
    backdrop-filter: blur(15px);
    width: 100%;
    position: fixed;
    z-index: 5;
}

nav .vector{
    background: url(Vector.png);
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
}

nav .vector:hover{
    background: url(vectorNew.png);
    background-repeat: no-repeat;
}

header ul a{
    color: white;
    text-decoration: none;
}

header ul a:hover{
    background: -webkit-linear-gradient(#AB2FFE,#40AFFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.02rem;
    font-weight: 700;
}

.bton{
    color: white;
    width: 100px;
    border: 2px solid transparent;
    border-radius: 8px;
    background: linear-gradient(to left,#1F1539,#1F1539),
    linear-gradient(to right, #AB2FFE,#40AFFD);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.bton:hover{
    color: white;
    background: linear-gradient(to right, #AB2FFE,#40AFFD);
    border: 1px solid transparent;
    
}

    /* resbox */

header{
    position: relative;
    z-index: 10000;
}

.resbox{
    position: absolute;
    padding: 6000px 5px 50x 10px ;
    right: -100%;
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    background-color: #1F1539;
    z-index: 100;
    transition: var(--transition);
}

.pri-btn{
    padding: 8px;
    font-size: 1.3rem;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.pri-btn:hover{
    background: linear-gradient(#AB2FFE,#40AFFD);
    border-color: transparent;
}

.resbox #close-btn{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    transition: var(--transition);
}

    /* banner */

.gradie{
    background: -webkit-linear-gradient(#E6B9FF,#9E89FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 63px;
    font-weight: 300;
}



.play-btn{
    background: -webkit-linear-gradient(#AB2FFE,#40AFFD);
    background-clip: text;
    -webkit-text-fill-color: transparent;;
    font-size: 49px;
}

.left-text{
    width: 50%;
}

.right-img-box{
    width: 44%;
}

.right-img{
    width: 100%;
}

p{
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.top-creaters .ball{ 
    right: 54.5%;
    top: -7px;
}

.ball{
    position: absolute;
    padding: 35px;
    border-radius: 50%;
    background: linear-gradient(#6147F8,#BC5EFF);
    z-index: -1;
}

.map{
    width: 100%;
}

.collec-btn .bton{
    width: auto;
}

.collect-img{
    width: 54px;
}

.collect-head, .collect-head1{
    margin-bottom: 0;    
}

/* tooltip */
.collectors {
    position: relative;
    visibility: hidden;
}
  
.collectors .collector-detail {
    width: auto;
    background-color: 312353;
    color: #fff;
    border-radius: 6px;
    border: 4px solid #40AFFD;
    border-radius: 8px;
    position: absolute;
    top: -640px;
    left: 45px  ;
}
  
.collectors .collector-detail::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 74%;
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: #40AFFD transparent transparent transparent;
}

/* tooltip */

.Latest-NFT{
    gap: 100px;
    padding: 180px 95px;
}

.latest-NFT-collec .ball{
    left: 10px;
    top: -7px;
}

.latest-NFT-collec p{
    width: 90%;
}

.NFT-pic{
    position: relative;
    height: 205px;
    width: 190px;
}

.NFT-pic img{
    position: absolute;
    left: 20px;
    gap: 50px;
    
}

.why-choose-us{
    border-right: 3px solid #40AFFD;
    border-top: 3px solid #AB2FFE;
    border-bottom: 3px solid #40AFFD;
    border-top-right-radius: 295px;
    border-end-end-radius: 295px;
    padding: 9% 6%;
    margin-right: 95px;
    background-color: #0000009f;
}

.box{
    padding: 40px 110px;
    border: .5px solid rgba(255, 255, 255, 0.295);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.041);
    z-index: 1;
    width: auto;
}

.right, .left{
    position: relative;
}

.light-ball{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    filter: blur(20px);
    z-index: 0;
}

.light-ball1{
    position: absolute;
    background-color: #FFB413;
    left: 58px;
    top: -1px;
}

.light-ball2{
    position: absolute;
    background-color: #FF5A13;
    left: 70%;
    top: 90px;
}

.light-ball3{
    position: absolute;
    background-color: #2FB8EB;
    left: 20%;
    
}

.light-ball4{
    position: absolute;
    background-color: #00E3A5;
    right: 0;
    top: 50px;
}

.data{
    position: absolute;
    left: 375px;
}

.fast{
    position: absolute;
    left: 75px;
}

    /* cerate and sell NFT */

.Create-and-sell{
    margin: 12% 0 5%;
    color: white;
    border-bottom: 1px solid #AB2FFE;
    padding-bottom: 10%;
    border-radius: 40%;
}

.Create-and-sell .ball{
    right: 65%;
    top: -8px;
}

/* .create-sell-container{
    gap: 7%;
    padding: 20px 6%;
} */

.create-sell-container p{
    width: 75%;
}

.create-sell-container h5{
    white-space: nowrap;
}



/* Responsive */

@media screen and (max-width: 1200px) {
    .Latest-NFT{
        gap: 50px;
        padding: 110px 0px 150px;
    } 

    .why-choose-us{
    padding: 7% 3%;
    margin-right: 55px;
}
}

@media screen and (max-width: 1060px) {
    .why-choose-us{
    padding: 3% 3%;
    margin-right: 55px;
}
}

@media screen and (max-width: 992px) {
    .why-choose-us{
    border-top-right-radius: 500px;
    border-end-end-radius: 500px;
    height: 750px;
    padding: 6% 5%;
    margin-right: 45px;
    gap: 40px;
}
    .light-ball2{
        left: 50%;
    }
    .light-ball4{
        left: 60%;
    }

    .create-sell-container p{
    width: 60%;
    }

    .gradie{
        font-size: 48px;
        font-weight: 300;
    }
}
    
    @media screen and (max-width: 768px) {
        .left-text{
            width: 92%;
            margin-top: 20px;
            z-index: 10;
            margin-bottom: 130px;
        }
        .right-img-box{
            position: absolute;
            top: -1%;
            width: 75%;
            z-index: -1;
            filter: opacity(.2);
        }
        .right-img{
            filter: grayscale(.5);
        }
        .latest-NFT-collec{
            padding-left: 20% !important;
        }
    .latest-NFT-collec .ball{
        left: 15%;
        top: -7px;
    }
    .Latest-NFT{
        gap: 15px;
    } 
    
    .light-ball2{
        left: 65%;
    }
    .light-ball4{
        left: 77%;
        top: 80px;
    }
    
    .Create-and-sell .ball{
        right: 70%;
        top: -8px;
    }
}

@media screen and (max-width: 576px) {
    .why-choose-us p{
        font-size: 15px !important;
        padding: 1% 0% 0%;
        gap: 0;
    }
    
    .box{
        padding: 25px 70px;
    }
    
    .data{
        position: absolute;
        left: 220px;
    }
    
    .fast{
        position: absolute;
        left: 0;
    }
    
    .light-ball2{
        left: 65%;
        top: 65px;
    }
    .light-ball4{
        left: 68%;
        top: 50px;
    }
}


/* min  */

@media screen and (min-width: 768px) {
    .resbox{
        display: none;
    }
}